.button{
    /* SET DELLO SFONDO */
    -fx-background-image: url(../img/undo_arrow.png);
    -fx-background-size: 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-border-radius: 30;

    -fx-border: none;
    /*-fx-padding: 0;*/

    -fx-max-width: 70;
    -fx-max-height: 70;
    -fx-min-width: 70;
    -fx-min-height: 70;

}
.button:hover{
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 1.5, 0.0 , 0 , 1 );
}